<a href="https://colab.research.google.com/github/subhram260/google-colab/blob/main/Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Display simple interest and compound interest.

In [5]:
p=float(input("Enter the pincipal amount : "))
t=float(input("Enter the time : "))
r=float(input("Enter the rae of interest : "))
print("Simple interest is",(p*t*r)/100)
n=float(input("Enter the number of times interest applied per time period :"))
print("Compound interest is",p*(1+r/n)**(n*t))

Enter the pincipal amount : 5000
Enter the time : 10
Enter the rae of interest : 0.05
Simple interest is 25.0
Enter the number of times interest applied per time period :12
Compound interest is 8235.0474884514

2.Write a program to input 1st name ,mid name and last name into three variable and apply concatinatination

In [1]:
name1=input("Enter first name: ")
name2=input("Enter middle name: ")
name3=input("Enter last name: ")
print("\nafter concatination :",name1+name2+name3)

Enter first name: subhram
Enter middle name:
Enter last name: patel

after concatination : subhrampatel

3.Write a program to create a table and display the element of it.

In [7]:
demo=[(1,2,3),(4,5,6),(7,8,9)]
for item in demo:
  print(item)

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)

4.write a program to implement type conversion on different data type.

In [10]:
a=input("Enter : ")
print(a,":",type(a))
a=int(a)
print(a,":",type(a))
a=float(a)
print(a,":",type(a))

Enter : 1
1 : <class 'str'>
1 : <class 'int'>
1.0 : <class 'float'>

5.find the distance between two points using pythogorian therom,where the coordinates of the two points given input.

In [13]:
from math import sqrt
x1=float(input("x1 : "))
y1=float(input("y1 : "))
x2=float(input("x2 : "))
y2=float(input("y2 : "))
print("the distance between two point is",sqrt((x2-x1)**2+(y2-y1)**2))

x1 : 34
y1 : 45
x2 : 24
y2 : 23
the distance between two point is 24.166091947189145